name: Release

on:
  push:
    tags:
      - '*.*.*'
  watch:
    types: started
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build and create archive
      run: ./tools/release.ps1
      shell: pwsh
      env:
        AZURE_TOKEN: ${{ secrets.AZURE_TOKEN }}
    - name: Upload Artifact
      uses: actions/upload-artifact@master
      with:
        name: blessing-skin-server
        path: ./blessing-skin-server-*.zip